@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}


@layer base {
  button {
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
    outline: none;
  }
}

@layer utilities {
  .underline-hover {
    position: relative;
  }

  .underline-current {
    position: relative;
  }

  .underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
  }

  .underline-current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: currentColor;
  }

  .underline-hover:hover::after {
    width: 100%;
  }

  .underline-current:hover::after {
    width: 100%;
  }
}